body {
  background-color: #999999;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #13354a;
  /* ou sua cor desejada */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1,
.header h2 {
  background-color: #13354a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  color: white;
  margin: 0;
}

.container-logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  max-width: 100%;
}

.graphs {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  flex-wrap: wrap;
  border: 1px solid red;
}

.graph {
  flex: 2;
  min-width: 400px;
  height: 300px;
}

.gauge {
  flex: 1;
  min-width: 300px;
  height: 200px;
}

.graph iframe,
.gauge iframe {
  width: 100%;
  height: 100%;
}

nav button {
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: white;
}
.nav-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav-buttons a {
  color: white;
  text-decoration: none;
}
.nav-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  text-decoration: none;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding: 15px 10px;
  border-radius: 5px;
}

.nav-btn:hover {
  background-color: #e0e0e0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  font-weight: bold;
}

.dropdown-content a:hover {
  background-color: #e0e0e0;
}

.dropdown.active .dropdown-content {
  display: block;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.dropdown-btn:hover {
  opacity: 0.7;
}

.dropdown-btn i {
  margin-left: 5px;
  font-size: 12px;
  transition: transform 0.3s;
}

.dropdown.active .dropdown-btn i {
  transform: rotate(180deg);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 40%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  position: relative;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* -----------------------------------------------MENU */
.menu {
  /* border: 1px solid red; */
  height: 100px;
  display: flex;
}
.grid-layout {
  display: grid;
  grid-template-columns: repeat(4, 10%) repeat(2, 30%);
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  /* background-color: #ccc; */
  padding: 5px;
  border: none;
  border: 1px solid blue;
  display: flex;
  height: auto;
  height: 100px;
}
.icon {
  /* padding-top: 20px; */
  border: 1px solid white;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.value {
  padding-top: 15px;
  width: 60%;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.value p {
  border: 1px solid #13354a;
  width: 90%;
  text-align: center;
  border-radius: 4px;
}
.box-producao {
  padding: 5px;
  border: none;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  height: auto;
  height: 100px;
}
.title_prod {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20px;
  padding-top: 20px;
  margin-bottom: 15px;
}
.values_prod {
  /* border: 1px solid blue; */
  height: 80px;
  display: flex;
  gap: 5%;
}
.value_prod_usina {
  /* border: 1px solid red; */
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 0.1;
}
.box-concessionaria {
  padding: 5px;
  border: none;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  height: auto;
  height: 100px;
}
.box-concessionaria .values_prod{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

/* ----------------------------------------------- */

/* invers icons */
.invers-section {
  background-color: white;
  border-radius: 8px;
  padding: 0rem;
  /* margin-top: 2rem; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid red; */
}

.arrows-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.1rem;
  background-color: #ffffff;
  border-radius: 6px;
  justify-content: center; /* centraliza os ícones */
  align-items: center;
}

.inversor-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem; /* espaço entre ícone e label */
  /* border: 1px solid blue; */
}
.items_inversores_icone_valores{
  /* border: 1px solid deeppink; */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1px;
  position: relative;
  width: 100%;
}

.arrow-icon {
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem; /* tamanho do ícone */
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid black;
}


.inversor-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
  text-align: center;
  /* border: 1px solid red; */
}

.value_inver {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  font-size: 15px;
  width: 100%;
  position: relative;
  overflow: visible;
}

.value_inver::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -20px;
  bottom: -20px;
  width: 2;
  background-color: black;
  transform: translateX(-50%);
  z-index: 1;
}

.value-pac, .value-pdc {
  margin: 0;
  /* text-align: right; */
  width: 100%;
  /* border: 1px solid red; */
  padding-right: 32px;
}

.linha-superior {
  /* position: absolute; */
  /* background-color: red; */
  /* top: 650px; */
  margin-left: 320px;
  margin-right: 220px;
  /* left: 320px;
  right: 60px; */
  /* width: 10; */
  border-top: 2px dashed red;
  height: 2px;
  /* z-index: 3; */
}

.linha {
  position: relative;
  margin-left: 25%;
  margin-bottom: -20px;
  width: 2px;
  height: 65px;
  background-color: #ca1205;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none;
}

.arrow-icon:hover {
  transform: scale(1.15);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Cores baseadas no status */
.arrow-icon.status-1 {
  background-color: #0b530e; /* Verde */
}

.arrow-icon.status--1 {
  background-color: #5a5959; /* Cinza */
}

.arrow-icon.status-0 {
  background-color: #ffbf00; /* Amarelo */
  /* color: #333; */
}

.arrow-icon.status-2 {
  background-color: #ca1205; /* Vermelho */
}

.alerts {
  height: 135px;
  /* background-color: red; */
  display: flex;
}
.log {
  width: 20%;
  border: 1px solid white;
  height: 100%;
  border: 1px solid red;
}
.alarms {
  width: 80%;
  display: flex;
}
.datetime_in,
.datetime_out,
.operator,
.tag,
.message {
  border: 1px solid white;
  /* width:100%; */
}
.datetime_in,
.datetime_out {
  width: 50%;
  color: black;
  font-size: 20px;
  border: 1px solid red;
}
.operator {
  width: 20%;
  color: black;
  font-size: 20px;
  border: 1px solid red;
}
.tag,
.message {
  width: 30%;
  color: black;
  font-size: 20px;
  border: 1px solid red;
}
